{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">
    {{text}}
</div>
{{/each}}
{{else}}

{{/if}}

{{#if error}}

  {{error}}
{{else}}

{{/if}}


{{#if error_msg}}
<div class="alert alert-danger">
  {{error_msg}}
</div>
{{else}}

{{/if}}
