

<table  class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
          {{#if (conditional1 (total sessions.cart) 0)}}
                <h1 class="text-center alert alert-danger">No item in Cart</h1>
          {{/if}}

{{#each sessions.cart}}
					<tbody>

						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{items.itemName}}</h4>
                    <p>{{items.description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">&#8377; {{items.itemPrice}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="{{quantity}}" disabled>
							</td>
							<td data-th="Subtotal" class="text-center">&#8377; {{totalPrice}}</td>
							<td class="actions form-inline">
								<a  class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></a>
                <form action="/items/{{items._id}}?_method=DELETE" method="post" id="delete-form" class="pl-1">
                  <input type="hidden" name="_method" value="DELETE">
								  <button type="submit"  class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
              </form>
							</td>
						</tr>
					</tbody>
          {{/each}}




          <tfoot>
            <tr >
              <td class="text-center"><strong>Total Items : {{totalitems sessions.cart}}</strong></td>
            </tr>
            <tr>
              <td><a href="/items" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total &#8377;{{total sessions.cart}}</strong></td>
                {{#if (conditional1 (total sessions.cart) 0)}}
              <td><a href="/Checkout" class="btn btn-success btn-block disabled" >Checkout <i class="fa fa-angle-right"></i></a></td>
              {{else}}
              <td><a href="/Checkout" class="btn btn-success btn-block " >Checkout <i class="fa fa-angle-right"></i></a></td>

                {{/if}}
            </tr>
          </tfoot>




				</table>
