<div class="row">
<div class="col-md-3 mt-4">
  <div class="list-group nav-tabs" role="tablist">
    <a  class="list-group-item active nav-link " data-toggle="tab" href="#foodcourt">
       Food Court
    </a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#tq"> TQ <span class="badge badge-secondary"></span></a>
    <a class="nav-link list-group-item" data-toggle="tab" href="#lapinoz"> LAPINOZ <span class="badge badge-secondary"></span></a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#burgrill"> Burgrill <span class="badge badge-secondary"></span></a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#havmore"> Havmore <span class="badge badge-secondary"></span></a>

  </div>
</div>

<div class="col-md-6">
  <!-- Website Overview -->
  <div class="tab-content">
      <div id="foodcourt" class="container tab-pane active"><br>
        <div class="panel panel-default">
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
  <h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Food Court</h3>
</div>
<div class="panel-body mt-3">
  {{#each data}}

  {{#if (conditional ItemProvider "FOOD COURT")}}
      <div class=" card mt-2">
        <div class="row">
            <div class="col-md-9">
                <a href="/cart/{{id}}" class="list-group-item list-group-item-action">{{itemName}} <p>Price: {{itemPrice}}</p> <p> {{description}} </p>
                </a>
            </div>
            <div class="col-md-2">
              <a href="/cart/{{id}}" class="list-group-item list-group-item-action btn btn-outline-primary mt-4">Add</a>
            </div>
        </div>
      </div>
  {{/if}}


  {{/each}}
</div>
</div>
</div>
<!-- Latest Users -->

<div id="tq" class="container tab-pane fade"><br>
<div class="panel panel-default ">
  <div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
    <h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> TQ</h3>
  </div>
  <div class="panel-body">
    {{#each data}}

    {{#if (conditional ItemProvider "TQ")}}
    <div class=" card mt-2">
      <div class="row">
          <div class="col-md-9">
              <a href="/cart/{{id}}" class="list-group-item list-group-item-action">{{itemName}} <p>Price: {{itemPrice}}</p> <p> {{description}} </p>
              </a>
          </div>
          <div class="col-md-2">
            <a href="/cart/{{id}}" class="list-group-item list-group-item-action btn btn-outline-primary mt-4">Add</a>
          </div>
      </div>
    </div>
    {{/if}}


    {{/each}}

  </div>
</div>
</div>

<!-- complain tab starts here -->
<div id="lapinoz" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> LAPINOZ</h3>
</div>
<div class="row">
  {{#each data}}

  {{#if (conditional ItemProvider "LAPINOZ")}}
  <div class=" card mt-2">
    <div class="row">
        <div class="col-md-9">
            <a href="/cart/{{id}}" class="list-group-item list-group-item-action">{{itemName}} <p>Price: {{itemPrice}}</p> <p> {{description}} </p>
            </a>
        </div>
        <div class="col-md-2">
          <a href="/cart/{{id}}" class="list-group-item list-group-item-action btn btn-outline-primary mt-4">Add</a>
        </div>
    </div>
  </div>
  {{/if}}


  {{/each}}
</div>
</div>



<!-- users tabs starts here -->
<div id="burgrill" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Burgrill</h3>
</div>
<div class="panel panel-default mt-3">

<div class="panel-body">
  {{#each data}}

  {{#if (conditional ItemProvider "BURGRILL")}}
  <div class=" card mt-2">
    <div class="row">
        <div class="col-md-9">
            <a href="/cart/{{id}}" class="list-group-item list-group-item-action">{{itemName}} <p>Price: {{itemPrice}}</p> <p> {{description}} </p>
            </a>
        </div>
        <div class="col-md-2">
          <a href="/cart/{{id}}" class="list-group-item list-group-item-action btn btn-outline-primary mt-4">Add</a>
        </div>
    </div>
  </div>
  {{/if}}


  {{/each}}
</div>
</div>
</div>

<div id="havmore" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Havmore</h3>
</div>
<div class="panel panel-default mt-3">

<div class="panel-body">
  {{#each data}}

  {{#if (conditional ItemProvider "HAVMORE")}}
  <div class=" card mt-2">
    <div class="row">
        <div class="col-md-9">
            <a href="/cart/{{id}}" class="list-group-item list-group-item-action">{{itemName}} <p>Price: {{itemPrice}}</p> <p> {{description}} </p>
            </a>
        </div>
        <div class="col-md-2">
          <a href="/cart/{{id}}" class="list-group-item list-group-item-action btn btn-outline-primary mt-4">Add</a>
        </div>
    </div>
  </div>
  {{/if}}


  {{/each}}
</div>
</div>
</div>

</div>
<!--tabs ends here -->
</div>

<div class="col-md-3 mt-4">
  <div class="menu  p-3 bg-light">
                <h5 class="text-primary">Your Cart <span class="badge  badge-primary">{{size sessions.cart}}</span></h5>
                <div class="nav flex-column">
                      {{#each sessions.cart}}
                              {{totalPrice}}
                      {{/each}}
                </div>
            </div>

</div>


</div>
