<div class="row">
<div class="col-md-3 mt-4">
  <div class="list-group nav-tabs" role="tablist">
    <a  class="list-group-item active nav-link " data-toggle="tab" href="#foodcourt">
       Food Court
    </a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#tq"> TQ <span class="badge badge-secondary"></span></a>
    <a class="nav-link list-group-item" data-toggle="tab" href="#lapinoz"> LAPINOZ <span class="badge badge-secondary"></span></a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#burgrill"> Burgrill <span class="badge badge-secondary"></span></a>
    <a  class="nav-link list-group-item" data-toggle="tab" href="#havmore"> Havmore <span class="badge badge-secondary"></span></a>

  </div>
</div>

<div class="col-md-6">
  <!-- Website Overview -->
  <div class="tab-content">
      <div id="foodcourt" class="container tab-pane active"><br>
        <div class="panel panel-default">
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
  <h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Food Court</h3>
</div>
<div class="panel-body mt-3">
  <table  class="table table-hover table-condensed mt-2">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:20%">Price</th>
      <th style="width:22%" class="text-center">ADD</th>
    </tr>
  </thead>
  {{#each data}}
  {{#if (conditional ItemProvider "FOOD COURT")}}
      <tbody>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-10">
                <h4 class="nomargin">{{itemName}}</h4>
                <p>{{description}}</p>
              </div>
            </div>
          </td>
          <td >&#8377; {{itemPrice}}</td>
          <td class="text-center">
              <a href="/cart/{{id}}"  class="btn btn-danger btn-sm"><i class="fa fa-cart-plus" style="font-size:16px"></i>Add</a>
          </td>
        </tr>
      </tbody>
  {{/if}}
  {{/each}}
  </table>
</div>
</div>
</div>
<!-- Latest Users -->

<div id="tq" class="container tab-pane fade"><br>
<div class="panel panel-default ">
  <div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
    <h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> TQ</h3>
  </div>
  <div class="panel-body">
    <table  class="table table-hover table-condensed mt-2">
      <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:20%">Price</th>
        <th style="width:22%" class="text-center">ADD</th>
      </tr>
    </thead>
    {{#each data}}
    {{#if (conditional ItemProvider "TQ")}}
      <tbody>
      <tr>
        <td>
          <div class="row">
            <div class="col-sm-10">
              <h4 class="nomargin">{{itemName}}</h4>
              <p>{{description}}</p>
            </div>
          </div>
        </td>
        <td >&#8377; {{itemPrice}}</td>
        <td class="text-center">
            <a href="/cart/{{id}}"  class="btn btn-danger btn-sm"><i class="fa fa-cart-plus" style="font-size:16px"></i>Add</a>
        </td>
      </tr>
    </tbody>
    {{/if}}
  {{/each}}
</table>
  </div>
</div>
</div>

<!-- complain tab starts here -->
<div id="lapinoz" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> LAPINOZ</h3>
</div>
<div class="panel panel-default mt-3">
<div class="panel-body">
  <table  class="table table-hover table-condensed mt-2">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:20%">Price</th>
      <th style="width:22%" class="text-center">ADD</th>
    </tr>
  </thead>
  {{#each data}}
  {{#if (conditional ItemProvider "LAPINOZ")}}
  <tbody>
  <tr>
    <td>
      <div class="row">
        <div class="col-sm-10">
          <h4 class="nomargin">{{itemName}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </td>
    <td >&#8377; {{itemPrice}}</td>
    <td class="text-center">
        <a href="/cart/{{id}}"  class="btn btn-danger btn-sm"><i class="fa fa-cart-plus" style="font-size:16px"></i>Add</a>
    </td>
  </tr>
</tbody>
  {{/if}}
  {{/each}}
  </table>
</div>
</div>
</div>



<!-- users tabs starts here -->
<div id="burgrill" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Burgrill</h3>
</div>
<div class="panel panel-default mt-3">

<div class="panel-body">
  <table  class="table table-hover table-condensed mt-2">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:20%">Price</th>
      <th style="width:22%" class="text-center">ADD</th>
    </tr>
  </thead>
  {{#each data}}
  {{#if (conditional ItemProvider "BURGRILL")}}
  <tbody>
  <tr>
    <td>
      <div class="row">
        <div class="col-sm-10">
          <h4 class="nomargin">{{itemName}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </td>
    <td >&#8377; {{itemPrice}}</td>
    <td class="text-center">
        <a href="/cart/{{id}}"  class="btn btn-danger btn-sm"><i class="fa fa-cart-plus" style="font-size:16px"></i>Add</a>
    </td>
  </tr>
</tbody>
  {{/if}}
  {{/each}}
</table>
</div>
</div>
</div>

<div id="havmore" class="container tab-pane fade"><br>
<div class="panel-heading main-color-bg pl-3 pt-3 pb-3">
<h3 ><i class="fa fa-cutlery" style="font-size:36px"></i> Havmore</h3>
</div>
<div class="panel panel-default mt-3">

<div class="panel-body">
  <table  class="table table-hover table-condensed mt-2">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:20%">Price</th>
      <th style="width:22%" class="text-center">ADD</th>
    </tr>
  </thead>
  {{#each data}}
  {{#if (conditional ItemProvider "HAVMORE")}}
  <tbody>
  <tr>
    <td>
      <div class="row">
        <div class="col-sm-10">
          <h4 class="nomargin">{{itemName}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </td>
    <td >&#8377; {{itemPrice}}</td>
    <td class="text-center">
        <a href="/cart/{{id}}"  class="btn btn-danger btn-sm"><i class="fa fa-cart-plus" style="font-size:16px"></i>Add</a>
    </td>
  </tr>
</tbody>
  {{/if}}
  {{/each}}
</table>
</div>
</div>
</div>

</div>
<!--tabs ends here -->
</div>

<div class="col-md-3 mt-4 ">
  <div class="menu  p-3 bg-light">
                <h5 class="text-primary">Your Order <span class="badge  badge-primary ">{{size sessions.cart}}</span></h5>
                <div class="nav flex-column">
                  <table class="table table-hover table-fixed">
                  <thead>
                  <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:50%" class="text-center">Subtotal</th>

                  </tr>
                </thead>
                      {{#each sessions.cart}}
                              <tbody>
                    						<tr>
                    							<td data-th="Product">
                    								<div class="row">
                    									<div class="col-sm-10">
                    										<h6 class="nomargin">{{items.itemName}}</h6>
                                      <small class="badge badge-pill text-muted badge-light"> {{quantity}} &times; &#8377;{{items.itemPrice}} </small>
                    									</div>
                    								</div>
                    							</td>

                    							<td data-th="Subtotal" class="text-center">&#8377; {{totalPrice}}</td>
                    						</tr>
                    					</tbody>
                      {{/each}}
                      <tfoot>
                      <tr >
                        <td>Total:</td>
                        <td class="hidden-xs text-center align-middle"><strong> &#8377;{{total sessions.cart}}</strong></td>

                      </tr>
                    </tfoot>
                        </table>
                          {{#if (conditional1 (total sessions.cart) 0)}}
                        <tfoot>
              						<tr>
                            <td></td>
              							<td><a href="/cart" class="btn btn-success btn-block align-middle disabled">Continue</a></td>

              						</tr>
              					</tfoot>
                        {{else}}
                        <tfoot>
                          <tr>
                            <td></td>
                            <td><a href="/cart" class="btn btn-success btn-block align-middle">Continue</a></td>

                          </tr>
                        </tfoot>

                        {{/if}}
                </div>
            </div>

</div>


</div>
